body {
    margin: 10% 20% 0 25%;
    text-align: left;
    background-color: bisque;
}

#game {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    line-height: 35px;
}

h1 {
    font-size: 20pt;
    color: brown;
}